@import (less) "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@white: #fff;
@black: #000;
@btn-red: #FF0046;
@hover-red: #97052d;
@blue-violet: #465371;
@light-blue-violet: #aab4c8;
@light-grey: #e1e5ec;
@footer-text: #515e7b;
@screen-xs: 479px;
@screen-sm: 767px;
@screen-md: 991px;
@screen-lg: 1199px;


h1, h2, h3, h4 {
  font-family: Karbon, Helvetica, Arial, sans-serif; //Karbon is paid font, used fallbacks
  font-size: 3.75em;
  font-weight: 600;
  text-transform: uppercase;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  border: none;
  margin: 0;
  padding: 15px;
  .logo-image {
    background-image: url("../img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 125px;
    height: 50px;
  }
  .mobile-display {
    float: right;
  }
  .navbar-toggle {
    border: none;
    &:hover {
      background-color: transparent;
      .icon-bar {
        background-color: @black;
      }
    }
  }
  .navbar-collapse {
    li a {
      text-transform: uppercase;
      color: @white;
    }
    .navbar-nav a {
      font-size: 16px;
    }
    .navbar-nav.navbar-right a {
      font-size: 13px;
    }
    @media (max-width: @screen-lg) {
      background-color: #222;
      margin-right: -30px;
      margin-left: -30px;
      margin-top: 15px;
      border: none;
      li {
        border-bottom: 1px solid #d9dde6;
        color: #252525;
        a {
          font-size: .9375em !important;
          font-weight: 600;
          text-transform: capitalize;
          text-align: center;
        }
      }
      .navbar-right {
        li:nth-child(5), li:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .main-cta {
    padding: .833em 1.666em;
    background-color: @btn-red;
    border: none;
    height: 41px;
    font-size: 15px;
    text-transform: uppercase;
    &:hover {
      background-color: @hover-red !important;
    }
    @media (max-width: @screen-lg) {
      margin: 5px 15px;
    }
  }
}

.hero {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  @media (max-width: @screen-xs) {
    padding-top: 100px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-image {
    background-image: url("../img/product-shot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50%;
    width: 100%;
  }
  .title-icon {
    background-image: url("../img/upload-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
  }
  .titling {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: @screen-xs) {
      flex-direction: column;
      h1 {
        line-height: normal;
        margin: 15px 0 0;
      }
    }
  }
  .hero-title {
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    color: @white;
  }
  .hero-description {
    text-align: center;
    width: 75%;
    padding: 35px 0;
    margin: 0;
    color: @white;
  }
  .btn {
    font-size: 1.125em;
    text-transform: uppercase;
    color: @black;
    font-weight: 600;
    border: none;
    padding: .833em 1.666em;
    margin-bottom: 35px;
    &:hover {
      background-color: @light-grey !important;
    }
  }
}

.playlist-types {
  background-color: @blue-violet;
  color: @white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  h2 {
    font-size: 23px;
    text-align: center;
    margin: 75px 0;
    text-transform: initial;
  }
  .types {
    text-align: center;
    display: inline-block;
    margin-bottom: 75px;
    > div {
      padding: 0 50px;
      @media (max-width: @screen-lg) {
        &:last-child {
          width: 100%;
          margin-top: 15px;
          h2 {
            margin-bottom: 0 0 15px;
          }
          p {
            height: 50px;
          }
        }
      }
      h2 {
        font-weight: 300;
        text-transform: uppercase;
        margin: 0 0 30px;
        min-height: 50px;
        line-height: normal;
      }
      h4 {
        font-size: 15px;
        font-weight: 300;
        color: @light-blue-violet;
      }
      p {
        font-size: 15px;
        margin: 15px 0;
        min-height: 100px;
        color: @light-blue-violet;
      }
      li {
        font-size: 17px;
        list-style: none;
        margin: 5px 0;
      }
      a {
        color: @white;
        &:hover {
          text-decoration: underline;
        }
      }
      .btn {
        padding: .833em 1.666em;
        text-transform: uppercase;
        font-weight: 500;
        margin: 30px 0;
        &:hover {
          text-decoration: none;
          background-color: @hover-red !important;
        }
      }
    }
  }
}

.side-by-side {
  padding: 100px 0;
  .info {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto auto 100px;
    @media (max-width: @screen-sm) {
      flex-direction: column;
    }
    &.image-right {
      flex-direction: row-reverse;
      @media (max-width: @screen-sm) {
        flex-direction: column;
      }
    }
    .info-image {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding-bottom: 25%;
      @media (max-width: @screen-sm) {
        padding-bottom: 50%;
        margin-bottom: 25px;
      }
    }
    .info-details {
      padding: 0 50px;
      h3 {
        font-size: 19px;
        margin: 0 0 30px;
      }
      p {
        font-size: 15px;
      }
      @media (max-width: @screen-sm) {
        padding: 0 15px;
        text-align: center;
      }
    }
    &:last-child {
      margin-bottom: auto;
    }
  }
}

footer {
  background-color: @light-grey;
  p, a {
    font-size: 12px;
    color: @footer-text;
    margin: 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    @media (max-width: @screen-lg) {
      flex-direction: column;
      > div {
        padding: 15px 0;
      }
    }
  }
  .footer-nav {
    ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      @media (max-width: @screen-sm) {
        flex-direction: column;
        li {
          padding: 5px 0;
        }
      }
      li {
        list-style: none;
        a {
          margin: 0 10px;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}

// modify bootstrap nav breakpoint
@media (max-width: @screen-lg) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse {
        display: none;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
}
